:root {
  --theme: rgb(255, 60, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
  border-top: 5px solid var(--theme);
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.02), 0 4px 6px 0 rgba(0, 0, 0, 0.03);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links li a {
  text-decoration: none;
  display: inline-block;
  color: #000;
  font-size: 17px;
}

.nav-links a:hover {
  color: var(--theme);
}

.navbar li:nth-last-of-type(2) {
  position: relative;
}

.navbar li:nth-last-of-type(2) a {
  position: relative;
  background-color: var(--theme);
  padding: 3px 5px;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: -2px 2px 1px #e5e5e5;
}

.navbar li:nth-of-type(2) img {
  position: absolute;
  top: -9px;
  right: -3px;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* position: relative; */
  overflow: hidden;
}

.writeup {
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px auto 0;
}

.writeup span {
  font-size: 3rem;
  display: block;
  line-height: 50px;
}

.writeup :nth-child(1) {
  font-size: 3rem;
  font-weight: 100;
}

.writeup :nth-child(2) {
  font-size: 3rem;
  font-weight: 650;
}

.list {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--theme);
  margin: 30px auto 0;
  padding: 5px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.27);
}

#left-img {
  z-index: -2;
  position: absolute;
  left: -15rem;
  width: 700px;
  height: 700px;
}

#right-img {
  z-index: -1;
  position: absolute;
  width: 700px;
  height: 700px;
  right: -200px;
  top: 200px;
  transform: rotateY(180deg);
}

.compression-type {
  margin: 50px auto;
  width: 65%;
  text-transform: uppercase;
  padding: 5px;
}

.com-btn {
  width: 100%;
  display: flex;
  align-items: end;
  /* padding: 5px auto; */
  /* float: right; */
  /* font-size: 9.5px; */
  /* font-weight: 700; */
  /* box-shadow: inset 0 2px 4px 0 hsla(0,0%,78%,.4); */
  /* box-shadow: inset 0 0 2px 1px #cccccc; */
  /* background-color: #fff; */
  border: 2px solid orangered;
}

.change {
  display: flex;
  width: fit-content;
}

.com-btn button {
  padding: 5px;
  font-size: 0.7rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
  background-color: #fff;
  border: 1px solid #e4e1e1;
  cursor: pointer;
  text-transform: uppercase;
  /* border: 2px dashed orangered; */
  /* box-shadow: inset 0 0 2px 1px #cccccc; */
}

.gallery {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  /* margin-top: 34px; */
  /* border-radius: 15px; */
}

.content {
  /* background-color: green; */
  border: 2px dashed orangered;
  border-radius: 10px;
  text-align: center;
  text-transform: none;
}

.content-info {
  display: inline-block;
  width: 400px;
  padding: 50px 0;
}

.feature-d {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.feature-d > div {
  /* background-color: red; */
  width: 900px;
}

.feature-d1 {
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.img-sect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  /* background-color: brown; */
}

.see-div {
  align-self: flex-end;
  font-size: 20px;
  color: orangered;
  font-weight: 600;
}

.animal-pic {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: -7px 5px 15.98px 1.02px rgba(56, 86, 112, 0.6);
  transform: perspective(1000px) rotate(0) scale3d(1, 1, 1);
  transition: transform 0.4s;
}

.animal-pic:hover {
  transform: rotateX(-0.2deg) rotateY(-15.04deg) scale3d(1.03, 1.03, 1.03);
}

.img-sect img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.about-size {
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.time {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10%;
}

.about-img {
  /* background-color: green; */
}

.about-img p {
  /* background-color: brown; */
  width: 350px;
}

.seo {
  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.high {
  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.high > div > p {
  /* color: red; */
  width: 400px;
}

.unkown {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer ul {
  display: flex;
  list-style: none;
}
